<section class="contacto">
  <h2>Contáctanos</h2>
  <p>Estamos disponibles para resolver tus dudas o atender tus solicitudes. Elige el canal que prefieras:</p>

  <div class="botones-contacto">
    <a href="https://wa.me/573216563803" target="_blank" class="btn-contacto whatsapp">
      <img src="/assets/whatsapp.svg" alt="WhatsApp"> Escríbenos por WhatsApp
    </a>
    <a href="mailto:camilopro239@gmail.com" class="btn-contacto correo">
      <img src="/assets/mail.svg" alt="Correo"> Envíanos un correo
    </a>
    <a href="tel:+573216563803" class="btn-contacto telefono">
      <img src="/assets/phone.svg" alt="Teléfono"> Llámanos
    </a>
    <a href="https://www.instagram.com/moliequipos_chatarreria?igsh=OXl5amp6eHdnZTAx" target="_blank" class="btn-contacto instagram">
      <img src="/assets/instagram.svg" alt="Instagram"> Síguenos en Instagram
    </a>
  </div>
<!--Comentario para forzar el deploy-->

  <div class="mapa-container">
    <h3>¿Dónde estamos?</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3929.9736813534117!2d-75.412118!3d7.973422!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5c436c17efb5a3%3A0x0!2zN8KwNTgnMjQuMyJOIDc1wrAyNC40NiJX!5e0!3m2!1ses!2sco!4v1713907200000!5m2!1ses!2sco"
      width="100%"
      height="300"
      style="border: 0; border-radius: 10px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</section>
